//theme-color
$primary: #7432E1 !default;
$accent: #7365F0 !default;
$secondary: #A49DF1 !default;
$tertiary: #CCC7F2 !default;
$light: #F2F4F5 !default;
$dark: #333333 !default;
$gray: #828282;
$lgray: #d9d9d9;
$footergray:#393939;
//color-class
$utilities: () !default;
$utilities: map-merge(
   (
      'tkt-bgcolor': (
			responsive: true,
         property: background-color,
         class: bg,
         values:
            (
               accent: #7365F0,
               tertiary: #CCC7F2,
               gray: #828282,
               lgray: #d9d9d9,
            ),
      ),
   ),
   $utilities
);
$utilities: () !default;
$utilities: map-merge(
   (
      'tkt-color': (
			responsive: true,
         property: color,
         class: text,
         values:
            (
               accent: #7365F0,
               tertiary: #CCC7F2,
               gray: #828282,
               lgray: #d9d9d9,
            ),
      ),
   ),
   $utilities
);

$font-family-sans-serif: "Pretendard";
$letter-spacing: -0.8px;

//font-class
$utilities: () !default; 
$utilities: map-merge(
   (
      'tkt-typo': ( 
			responsive: true,
         property: font,
         class: tkt,
         values:
            (
               h1: normal 300 50px 'pretendard',
               h2: normal 300 42px 'pretendard',
               h3: normal 600 32px 'pretendard',
               h4: normal 600 26px 'pretendard',
               h5: normal 600 21px 'pretendard',
               h6: normal 600 16px 'pretendard',
               t5: normal 400 21px 'pretendard',
               t6: normal 400 16px 'pretendard',
               sm: normal 400 14px 'pretendard',
            ),
      ),
   ),
   $utilities /* 기존 유틸리티와 merge */
);

//margin-class
$utilities: () !default;
$utilities: map-merge(
   (
      'tkt-margin': (
			responsive: true,
         property: margin-bottom,
         class: mgb,
         values:
               (
               15: 0.938rem,
               25: 1.563rem,
               35: 2.188rem,
               55: 3.438rem,
               160: 10rem,
            ),
      ),
   ),
   $utilities
);

//border-radius class
$utilities: () !default;
$utilities: map-merge(
   (
      'tkt-border-radius': (
			responsive: true,
         property: border-radius,
         class: br,
         values:
            (
               5: 5px,
               10: 10px,
               15: 15px,
            ),
      ),
   ),
   $utilities
);

//width class
$utilities: () !default;
$utilities: map-merge(
   (
      'tkt-width': (
			responsive: true,
         property: width,
         class: tkt,
         values:
            (
               w18: 18px,
               w25: 25px,
               w35: 35px,
            ),
      ),
   ),
   $utilities
);

// initialize
body{
   letter-spacing: $letter-spacing;
}
a{
   text-decoration: none !important;
}