.footer-iconbox {
    position: relative;
    .imgbox{
        .common{
            display: block;
        }
        .hover{
            display: none;
        }
    }
    .imgbox:hover{
        .common{
            display: none;
        }
        .hover{
            display: block;
        }
        .footer-icon-text{
            @include tkt-thover;
        }
    }
}

.footer-info-list{
    li{
        &::after{
            content: "|";
        }
        &:last-child::after{
            content: "";
        }
    }
}
.footer-info-btn{
    &:hover{
        text-decoration:underline !important;
    }
}