//nav
nav {
  display: block;
  position: relative;
  z-index: 2;
  top:16px;

  & h1 img{
    width: 168px;
  }
}

.tab-content{
  position: relative;
  top: 16px;

  & > .active {
  z-index: 2;
}
}

//carousel
.carousel.sec1-carousel  {
  position : absolute !important; 
  top : 0;

//corousel-indicator(pager)
  & .carousel-indicators {
    bottom: -13%;
    
    & button.active{
      opacity: 0;
    }
    & [data-bs-target] {
      width: 204px;
      height: 298px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0 0 0 12px;
      padding: 0;
      border: 0;
      border-radius: 10%;
      opacity:0.3;
      background-color: $primary;//white로 하고 번호에 z-index 제외할지 이대로 진행할지//배경때문에 white 가 더 나을거같긴한데
}

    &>.row>div{
      border-radius:10%;
      opacity: 1;
      position: relative;
      
      &>img{
        position: absolute;
        top: -10px;
        left: -4px;
        // z-index: 2;
      }

      &>label>img{
        width: 204px;
        height: 298px;
        border-radius:10%;
      }
    }
  }

//carousel-mainimg
  & .carousel-caption {
    top: 30%;
    left: 15%;
    color: rgb(255, 255, 255);
    text-align: left;
    z-index: 2;
  }

//carousel-control-prev-next  
  & .carousel-control-prev {
    left: 90px;
    top: 610px;
    
    & .carousel-control-prev-icon {
    background-image: url("../img/icon/button-prev-round.png");
    filter: none;
  }
  }
  & .carousel-control-next {
    right: 90px;
    top: 610px;

    & .carousel-control-next-icon {
    background-image: url("../img/icon/button-next-round.png");
    filter: none;
  }
  }
}

