#purpose-pop{
  width: 35%;
  word-break: keep-all;
  z-index: 99;
  top: 15px;
  right: 15px;
  .purpose-close{
    background: url("../img/icon/close-p.png") no-repeat;
    background-size:contain;
  }
}
.pop-close{
  width: 21px;
  height: 21px;
}

#coupon-pop {
  width: 246px;
  height: 463px;
  bottom: 15px;
  left: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  z-index: 99;
  font-size: 2.4em;
  padding: 2em;
  box-sizing: border-box;
  line-height: 2;
  .coupon-btn {
    cursor: pointer;
    border-radius: 10px;
    background-color: #222;
    color: #fff;
  }
  .coupon-close{
    background: url("../img/icon/close-w.png") no-repeat;
    background-size:contain;
  }
}

.search a {
  &:hover {
    color: $primary !important;
    font-weight: 600 !important;
  }
}
.search-nav-on {
  color: $primary !important;
  font-weight: 600 !important;
}
.search-detail {
  .search-detail-btn:hover {
    background-color: $primary !important;
    color: $light !important;
  }
}
.search-poster {
  &:hover {
    .search-poster-hover {
      display: block;
    }
  }
}
.search-poster-hover {
  opacity: 0;
  background-color: rgba(116, 50, 225, 0.9);
  transition: all .4s;
  &:hover{
    opacity: 1;
  }
}

.sec5-result-text:hover {
  > a {
    @include tkt-thover;
  }
}
.result5 {
  width: 186px;
  height: 285px;
  img {
    width: 186px;
    height: 238px;
  }
}
.ticketsearch-contents {
  height: 100%;
}
.search-result {
  overflow: hidden;
}
