.nav-link{
    color:$light;
    font-size : $tkt-t5;
    // .nav-link { //원래거
    //     display: block;
    //     padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    //     font-size: var(--bs-nav-link-font-size);
    //     font-weight: var(--bs-nav-link-font-weight);
    //     color: var(--bs-nav-link-color);
    //     text-decoration: none;
    //     transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    // }
}

.nav-link:hover, .nav-link:focus {
    color: $primary;
}
.navbar-brand>img{
    width:168px;
}
.navbar{
    z-index : $zindex-dropdown;
    top:2%;
}

#carouselExampleIndicators{
    position : absolute !important; 
    top : 0;
}
.carousel-indicators {
    bottom: -10%;
    //display: flex; 원래값
    //justify-content: center;
    }


.carousel-indicators .active {
    opacity: 1;
}

.carousel-indicators [data-bs-target] {
    
    width: 14rem;
    height: 18rem;
    background-color: white;
    border-radius:10%;
    border:0;
    &:first-child{background: url("../img/poster/sec1/sec1-jeans-kopis.jpg")center center/cover no-repeat;}
    &:nth-child(2){background: url("../img/poster/sec1/sec1-amusesound-kopis.png") center center/cover no-repeat;}
    &:nth-child(3){background: url("../img/poster/sec1/sec1-cafenight-kopis.gif") center center/cover no-repeat;}
    &:nth-child(4){background: url("../img/poster/sec1/sec1-hisaishijo-kopis.gif") center center/cover no-repeat;}
    &:nth-child(5){background: url("../img/poster/sec1/sec1-nextnormal-kopis.jpg") center center/cover no-repeat;}
    &:nth-child(6){background: url("../img/poster/sec1/sec1-matinee-kopis.gif") center center/cover no-repeat;}
}